<h1>自己資質編集</h1>

<%= form_for(@eva, :url => { controller:'my_eva', action:'update'})do |f| %>

<%= f.label :question_01,"勝気である" %>
<%= f.check_box :question_01 %>
<br>
<%= f.label :question_02,"交際好きである" %>
<%= f.check_box :question_02 %>
<br>
<%= f.label :question_03,"集中力がある" %>
<%= f.check_box :question_03 %>
<br>
<%= f.label :question_04,"流行を取り入れる" %>
<%= f.check_box :question_04 %>
<br>
<%= f.label :question_05,"自信がある" %>
<%= f.check_box :question_05 %>
<br>
<%= f.label :question_06,"真面目である" %>
<%= f.check_box :question_06 %>
<br>
<%= f.label :question_07,"陽気である" %>
<%= f.check_box :question_07 %>
<br>
<%= f.label :question_08,"几帳面である"  %>
<%= f.check_box :question_08 %>
<br>
<%= f.label :question_09,"尊敬されている" %>
<%= f.check_box :question_09 %>
<br>
<%= f.label :question_10,"健康的である" %>
<%= f.check_box :question_10%>
<br>
<%= f.label :question_11,"柔軟性がある" %>
<%= f.check_box :question_11 %>
<br>
<%= f.label :question_12,"めげない" %>
<%= f.check_box :question_12 %>
<br>
<%= f.label :question_13,"話し上手である" %>
<%= f.check_box :question_13 %>
<br>
<%= f.label :question_14,"現実的である" %>
<%= f.check_box :question_14 %>
<br>
<%= f.label :question_15,"悩まない" %>
<%= f.check_box :question_15 %>
<br>
<%= f.label :question_16,"賢い" %>
<%= f.check_box :question_16 %>
<br>
<%= f.label :question_17,"過去にとらわれない" %>
<%= f.check_box :question_17 %>
<br>
<%= f.label :question_18,"忍耐強い"  %>
<%= f.check_box :question_18 %>
<br>
<%= f.label :question_19,"自分の能力を理解している"  %>
<%= f.check_box :question_19 %>
<br>
<%= f.label :question_20,"落ち着いている" %>
<%= f.check_box :question_20 %>
<br>
<%= f.label :question_21,"協調性がある" %>
<%= f.check_box :question_21 %>
<br>
<%= f.label :question_22,"礼儀正しい" %>
<%= f.check_box :question_22 %>
<br>
<%= f.label :question_23,"人をねたまない" %>
<%= f.check_box :question_23 %>
<br>
<%= f.label :question_24,"他人の評価を気にしない" %>
<%= f.check_box :question_24 %>
<br>
<%= f.label :question_25,"信頼できる"%>
<%= f.check_box :question_25 %>
<br>
<%= f.label :question_26,"親切である" %>
<%= f.check_box :question_26 %>
<br>
<%= f.label :question_27,"冒険を好む" %>
<%= f.check_box :question_27 %>
<br>
<%= f.label :question_28,"行動力がある" %>
<%= f.check_box :question_28 %>
<br>
<%= f.label :question_29,"慎重である" %>
<%= f.check_box :question_29 %>
<br>
<%= f.label :question_30,"問題解決能力が高い"%>
<%= f.check_box :question_30 %>
<br>
<%= f.label :question_31,"リーダーシップがある" %>
<%= f.check_box :question_31 %>
<br>
<%= f.label :question_32,"教え上手" %>
<%= f.check_box :question_32 %>
<br>
<%= f.label :question_33,"交渉が上手い"  %>
<%= f.check_box :question_33 %>
<br>
<%= f.label :question_34,"企画力がある" %>
<%= f.check_box :question_34 %>
<br>
<%= f.label :question_35,"判断力がある" %>
<%= f.check_box :question_35 %>
<br>
<%= f.label :question_36,"責任感がある" %>
<%= f.check_box :question_36 %>
<br>
<%= f.label :question_37,"傾聴力が高い" %>
<%= f.check_box :question_37 %>
<br>
<%= f.label :question_38,"空気が読める"  %>
<%= f.check_box :question_38 %>
<br>
<%= f.label :question_39,"大胆である"  %>
<%= f.check_box :question_39 %>
<br>
<%= f.label :question_40,"穏やかである"%>
<%= f.check_box :question_40 %>
<br>
<%= f.label :question_41,"フレンドリーである" %>
<%= f.check_box :question_41 %>
<br>
<%= f.label :question_42,"論理的である"  %>
<%= f.check_box :question_42 %>
<br>
<%= f.label :question_43,"センスがある"%>
<%= f.check_box :question_43 %>
<br>
<%= f.label :question_44,"自発的である" %>
<%= f.check_box :question_44 %>
<br>
<%= f.label :question_45,"共感的である"  %>
<%= f.check_box :question_45 %>
<br>
<%= f.label :question_46,"ユーモアがある" %>
<%= f.check_box :question_46 %>
<br>
<%= f.submit "変更する", data: { confirm: '変更しますか？' }, :class=>"btn btn-dark" %>
<br>
<% end %>
<%= link_to "ホーム", top_index_path %>
