<!DOCTYPE html>
<html>
  <head>
    <title>Johawin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body >
    <header>
    <%= link_to root_path ,class:"navibar-item" do %>
    <h1 class ="title is-4" style="font-family: cursive;">Johawin</h1>
    <% end %>
    
    
      <nav class="text-right">
        <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
        <% if user_signed_in? %> 
          <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
          <!-- *_path はUserモデルを作成したときに、
          deviseにより自動で作成されてますので、rake routesで確認できます -->
          Logged in as <strong><%= current_user.user_id %></strong>.
          <%= link_to 'アカウント編集', edit_user_registration_path %> |
          <%= link_to "ログアウト", sign_out_path %>
        <% else %>
          <%= link_to "アカウント作成", new_user_registration_path %> |
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <p class="notice  text-center"><%= notice %></p>
    <p class="alert text-center"><%= alert %></p>

    <div  class=contaner >
      <%= yield %>
    </div>
    

    <div class="footer">
      <div class="text-center">
          Copyright © KakeruAOYAMA All Rights Reserved. 
      </div>
    </div>
    
  </body>
</html>
