<!DOCTYPE html>
<html>
  <head>
    <title>Johawin</title>
    <meta name="google-site-verification" content="ROEw5qGDH-200qfudYCg-nu8DadJgcwEO4dzA2htmxw" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177491030-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177491030-1');
    </script>

  
  </head>

  <body >
    <header>
      <div class="row">
        <div class="col-4">
          <%= link_to root_path ,class:"navibar-item" do %>
            <h1 class ="title is-2">Johawin</h1>
          <% end %>
        </div>
        <div class="col text-right">
          <div class="navi is-4">
            <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
            <% if user_signed_in? %> 
              <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
              <!-- *_path はUserモデルを作成したときに、
              deviseにより自動で作成されてますので、rake routesで確認できます -->
              ようこそ！ <strong><%= current_user.username %></strong>さん
              <%= link_to 'アカウント編集', edit_user_registration_path %> |
              <%= link_to "ログアウト", sign_out_path %>
            <% else %>
              <%= link_to "アカウント作成", new_user_registration_path %> |
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <p class="notice  text-center"><%= notice %></p>
    <p class="alert text-center"><%= alert %></p>

    <div  class=contaner >
      <%= yield %>
    </div>
    

    <div class="footer">
      <div class="text-center">
          Copyright © KakeruAOYAMA All Rights Reserved. 
      </div>
    </div>
    
  </body>
</html>
