<h2>アカウント作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    ユーザーネーム(他者からの評価時に公開されます)
    <br>
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%="ログインID (ログイン時に使用するのでメモしてください)" %>
    <br>
    <%= f.text_field :user_id, autofocus: true %>
  </div>

  <div class="field">
    <%= "パスワード"  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= "パスワードの確認"  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント作成", :class=>"btn btn-dark" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
